body {
  margin: 0;
  font-family: 'Arial', sans-serif;
}

#login-modal {
  z-index: 10;
}

#login-modal .bg-white {
  animation: fadeIn 0.3s ease-in;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
